*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*BARRA DE NAVECACION*/

.bars__menu{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(114, 0, 218);
    transform-origin: 0px 100%;
    margin-top: 6px;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}

header{
    position: relative;
    top: -0.4rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgb(32, 33, 36);
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-nav{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    position: fixed; 
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(62, 63, 66, 0.9);
    text-align: center;
    transition: all .5s;
}


.ul-nav li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.ul-nav li a {
    color: rgb(230, 230, 230);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

.ul-nav li a .active, .ul-nav li a:hover{
    color:rgb(114, 0, 218);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .ul-nav{
    height: 60vh;    
}

#check:checked ~ .ul-nav li {
    display: block;
}

.logo-header {
    width: 70px;
    margin-left: 20px;
    margin-top: 1rem;
}

.nav-desktop{
    display: none;
}



/* AREA DEL INICIO */

.seccion-inicio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    height: 85vh;
    background-image: url(../img/Foto-prueba.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    margin-left: 2rem;
    margin-top: 8rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    line-height: 3rem;
    color: rgb(42, 43, 46);
}

.miNombre{
    color: rgb(80, 0, 120);
}


/* AREA SOBRE MI */

.area-sobre-mi{
    padding-top: 2rem;
    background-color:rgb(62, 63, 66);
}

.titulos-areas{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-decoration: underline rgb(80, 0, 121);
    text-align: center;
    color: #ffff;
}

.texto-sobre-mi{
    margin: 2rem 2.5rem 3rem 2rem; 
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5rem;
    color: rgb(230, 230, 230)
}


.datos-sobre-mi{
    margin-top: 1.5rem;
    margin-left: 2.5rem; 
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: rgb(230, 230, 230);
}

.boton-cv{
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    margin: 2rem 0rem 2rem 2rem;
    border-radius: 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(114, 0, 172);
    border-style: none;
    background-color: rgb(255, 255, 255);

}
.boton-cv:hover{
    cursor: pointer;
    transition-duration: 300ms;
    background-color: rgb(114, 0, 172);
    color: rgb(255, 255, 255);
}

.imagen-sobre-mi{
    width: 16.5rem;
    height: 28rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
}

/* AREA PORTAFOLIO */

.area-portafolio{
    padding-top: 2rem;
    background-color: rgb(112, 113, 116);
}


.texto-portafolio{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5rem;
    color: rgb(230, 230, 230)
}


.proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.card{
    width: 16rem;
    height: 22rem;
    margin-bottom: 3rem;
    background-color: rgb(62, 63, 66);
    border-radius: 10px;
}

.imagen-proyecto{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titulo-proyecto{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    text-align: start;
    color: rgb(230,230,230);
}

.lenguajes-utilizados{
    display: flex;
    justify-content: flex-start;
}

.lenguaje-proyecto{
    width: 3rem;
    padding: 0.5rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-bottom: 2rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: rgb(230,230,230);
    background-color: rgb(114, 0, 172);
}

.boton-proyecto-adaptativo{
    overflow: hidden;
    padding: 0.8rem;
    margin-left: 1.5rem;
    border-radius: 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: rgb(114, 0, 172);

    background-color: rgb(255, 255, 255);
}


.boton-proyecto-adaptativo:hover{
    transition-duration: 0.4s;
    color: rgb(255, 255, 255);
    background-color: rgb(114, 0, 172);
}

/* .proyectos-portafolio{
   margin-left: 3rem;
   padding-bottom: 3rem;
}

.proyecto{
    padding-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: rgb(230, 230, 230);
    text-align: center;
} 

 .imagen-proyecto{
    width: 18rem;
    margin-top: 1rem;
} */

/* AREA DE SKILLS */

.iconos-desktop{
    display:none;
}

.area-skills{
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color:rgb(62, 63, 66);
}

.html-css{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.texto-html-css{
    display: flex;
    justify-content: space-around;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
}

.javascript-react{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.texto-javascript-react{
    display: flex;
    justify-content: space-around;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
}

.sql-git{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.texto-sql-git{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.fa-html5{
    font-size: 100px;
    color: rgb(230, 230, 230);
}

.fa-html5:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 400ms;
}

.fa-css3-alt{
    font-size: 100px;
    color: rgb(230, 230, 230);
}

.fa-css3-alt:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 400ms;
}

.fa-square-js{
    font-size: 100px;
    color: rgb(230, 230, 230);
}

.fa-square-js:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 400ms;
}

.fa-react{
    font-size: 100px;
    color: rgb(230, 230, 230);
}

.fa-react:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 400ms;
}

.fa-database{
    font-size: 100px;
    color: rgb(230, 230, 230);
}

.fa-database:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 400ms;
}

.fa-square-github{
    font-size: 100px;
    color: rgb(230, 230, 230);
}

.fa-square-github:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 400ms;
}


.texto-skill{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: rgb(201, 143, 255);
}


/* AREA DE CONTACTO */

.titulos-contacto{
    display: block;
    padding: 1rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #ffff;
    background-color: rgba(114, 0, 218, 0.8);
}

.formulario{
    display: flex;
    flex-direction: column;
}

.form-contacto{
    padding: .8rem;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(112, 113, 116);
    background-color: rgb(255, 255, 255);;
}

.form-contacto label, .form-contacto input, .form-contacto textarea{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 8px;
}

.form-contacto label {
    font-weight: 700;
}

.form-contacto input:not([type="submit"]), .form-contacto textarea {
    border: none;
    border-bottom: 2px solid rgba(114, 0, 218, 0.8);
    margin-bottom: 20px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(62, 63, 66);
    outline: none;
}

.form-contacto textarea {
    min-height: 100px;
}

input[type="submit"]{
    padding: 10px;
    border-radius: 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border-style: none;
    background-color: rgb(114, 0, 172);
}

input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(114, 0, 172);
    background-color: rgb(201, 143, 255);
    transition-duration: 0.4s;
}


/* AREA DEL FOOTER */

.area-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: rgb(57, 0, 86);
}



.fa-linkedin{
    margin-bottom: 2rem;
    margin-right: 3rem;
    font-size: 38px;
    color:rgb(230, 230, 230);
}

.fa-linkedin:hover{
    transition-duration: 500ms;
    cursor: pointer;
    color: rgb(201, 143, 255);
}

.fa-github{
    margin-bottom: 2rem;
    margin-right: 3rem;
    font-size: 38px;
    color:rgb(230, 230, 230);
}

.fa-github:hover{
    transition-duration: 500ms;
    cursor: pointer;
    color: rgb(201, 143, 255);
}

.fa-envelope{
    font-size: 38px;
    color:rgb(230, 230, 230);
}

.fa-envelope:hover{
    transition-duration: 500ms;
    cursor: pointer;
    color: rgb(201, 143, 255);
}

.texto-footer{
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.copyright{
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(255, 255, 255);
}


/* DISEÑO RESPONSIVE (TABLET) */

@media (min-width: 700px){

/* AREA DE INICIO */

    h1{
        margin-top: 15rem;
        margin-left: 5rem;
        font-size: 56px;
        line-height: 4rem;       
    }


    .seccion-inicio{
            width: 100%;
            height: 80vh;
    }



/* AREA SOBRE MI  */

    .titulos-areas{
        font-size: 42px;
    }
    
    .texto-sobre-mi{
        font-size: 20px;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
    
    .datos-boton-foto{
        display: flex;
        justify-content: space-between;
    }


    .datos-sobre-mi{
        font-size: 20px;
    }
    
    .boton-cv{
        font-size: 20px;
        margin-left: 2.5rem;
    }
 
    .imagen-sobre-mi{
       margin-right: 6rem;
       margin-top: 1.5rem;
    }



    /* AREA PORTAFOLIO */

    
    .texto-portafolio{
        margin: 1.5rem 2rem 1rem 2rem;

        text-align: center;
        font-size: 20px;
    }
    
    .proyectos-portafolio{
       margin-left: 3rem;
       padding-bottom: 3rem;
    }
    
    .proyecto{
        font-size: 18px;
    }
    
    .imagen-proyecto{
        margin-bottom: 1rem;
    }

    .portafolio-proyectos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    /* AREA DE SKILLS */
    
    .fa-html5{
        font-size: 120px;
    }
  
    .fa-css3-alt{
        font-size: 120px;
    }
    
    
    .fa-square-js{
        font-size: 120px;
    }
 
    .fa-react{
        font-size: 120px;
    }
 
    .fa-database{
        font-size: 120px;
    }
    
    .fa-square-github{
        font-size: 120px;
    }
    
    .texto-skill{
        font-size: 20px;
    }
    


    /* AREA FORMULARIO */


    .titulos-contacto{
        padding: 2rem;
        font-size: 46px;
    }

    .formulario{
        background-color: rgb(255, 255, 255);
    }

    .form-contacto{
        margin: 1rem;
        font-size: 20px;
    }
    
    
    .form-contacto input:not([type="submit"]), .form-contacto textarea {
        font-size: 20px;
    }
    
    .form-contacto textarea {
        min-height: 200px;
    }

    input[type="submit"]{
        font-size: 20px;
    }
    

    /* AREA FOOTER */

    .area-footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        
        padding-top: 1rem;
    }

    .logo-footer{
        order: 1;
    }
    
    .iconos-footer{
        margin-top: 2rem;
    }

    .fa-linkedin{
        margin-right: 2rem;
    }

    .fa-github{
        margin-right: 2rem;
    }
    
    .texto-footer{
        margin-top: 0.5rem;
        font-size: 18px;
    }
    
    .copyright{
        font-size: 12px;
    }
    
}


@media(min-width: 1200px){


    /* AREA DEL NAV */

    .nav-responsive{
        display: none;
    }

    .nav-desktop{
        display: flex;
        justify-content: space-between;
    }

   .ul-nav-desktop{
    display: flex;
    margin-right: 1rem;
    margin-top: 0.5rem;
    list-style: none;
   }

   .li-desktop{
    margin-right: 2rem;
    color: rgb(230, 230, 230);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
   }

   .li-desktop:hover{
    color:rgb(114, 0, 218);
    transition: .3s;
   }

   .logo-header{
    width: 5rem;
    margin-left: 2rem;
   }
    

    /* AREA DE INICIO */

    h1{
        font-size: 60px;     
    }


    .seccion-inicio{
        width: 100%;
        height: 80vh;
    }


    /* AREA SOBRE MI */

    .titulos-areas{
        font-size: 48px;
    }
    
    .texto-sobre-mi{
        width: 50%;
        font-size: 20px;
        margin: 5rem 0rem 2rem 7rem;
    }
    
    .datos-boton-foto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .datos-sobre-mi{
        margin-left: 7rem;
    }
    
    .boton-cv{
        margin-left: 7rem;
    }
 
    .foto-sobre-mi{ 
        position: relative;
        bottom: 15rem;
      right: 1rem;
    } 

    /* AREA DEL PORTAFOLIO */

    .texto-portafolio{
        font-size: 22px;
    }
    
    .proyecto{
        font-size: 20px;
    }
    

    /* AREA DE SKILLS */

    .iconos-desktop{
        display:block;
    }

    .iconos-responsive{
        display: none;
    }

   .skills-icon-desktop{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
   }

   .texto-iconos{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
   }
    .icono-texto{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 22px;
        font-weight: bold;
        color: rgb(201, 143, 255);
    }
    .icono-texto-react{
        position: relative;
        right: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 22px;
        font-weight: bold;
        color: rgb(201, 143, 255);
    }

    .icono-texto-mysql{
        position: relative;
        right: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 22px;
        font-weight: bold;
        color: rgb(201, 143, 255);
    }
    /* AREA DEL FORMULARIO */

    .titulos-contacto{
        font-size: 52px;
    }

    .form-contacto{
        margin: 3rem;
        font-size: 22px;
    }
    
    
    .form-contacto input:not([type="submit"]), .form-contacto textarea {
        font-size: 22px;
    }
    
    .form-contacto textarea {
        min-height: 250px;
    }

    input[type="submit"]{
        font-size: 22px;
    }
}


@media (min-width: 1500px){

    h1{
        margin-left: 10rem;
        
    }

    /* AREA SOBRE MI */
    .titulos-areas{
        font-size: 48px;
    }
    
    .texto-sobre-mi{
        width: 50%;
        margin-left: 32rem;
    }

    .datos-boton-foto{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .datos-sobre-mi{
         margin-left: 7.5rem;
    }

    .boton-cv{
        margin-left: 7.5rem;
    }

    .foto-sobre-mi{
        position: relative;
        left: 10rem;
        bottom: 13rem;
    }
}